root = true

# All files
[*]
indent_style = space

# Xml files
[*.xml]
indent_size = 2
# StyleCop تنظیمات برای
[*.cs]
dotnet_diagnostic.SA0001.severity = error
dotnet_diagnostic.SA1200.severity = warning
dotnet_diagnostic.SA1309.severity = none
